<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- JavaScript and dependencies (Popper.js and Bootstrap Bundle with Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
</head>
<style>
    .card {
        padding: 1em;
        max-width: 350px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        margin-bottom: 20px;
    }
    ul {
        list-style: none;
        padding-left: 0px;
        align-self: 'center';
    }

    #drop-down {
        padding-top: 25px;
    }

    
    .none {
        display: none;
    }

    @media(max-width: 768px) {
        .collapse-container {
            flex-direction: column !important;
            align-items: start !important;
        }
        .form-div {
            align-self: center !important;
        }
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">FINOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="collapse-container d-flex justify-content-between align-items-center w-100">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item admin-links none">
                      <a class="nav-link" aria-current="page" href="/showBooks">Book Management</a>
                    </li>
                    <li class="nav-item admin-links none">
                      <a class="nav-link" href="/showOrders">Order Management</a>
                    </li>
                  </ul>
                  <div class="d-flex justify-content-end align-items-center form-div">
                    <ul>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="drop-down"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/orderCart">Cart</a></li>
                                <li><a class="dropdown-item" href="/userOrders">Orders</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#" id="signout">Sign out</a></li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="mb-5">Your Cart</h1>
        <div class="row">
            <div class="col-md-8" id="cart-container">
                <!-- dynamic insertion-->
            </div>
            <div class="col-md-4">
                <!-- Cart summary -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cart Summary</h5>
                        <p >Total Items: <span id="cart-items-count"></span></p>
                        <p >Total Price: $<span id="cart-items-price"></span></p>
                        <button class="btn btn-primary btn-block" id="checkout-btn" data-toggle="modal" data-target="#cartModal">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartModalLabel">Order placed</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modalMessage"></p>
                </div>
                <div class="modal-footer">
                    <a href="/" class="btn btn-primary">Continue shopping</a>
                    <a href="/userOrders" class="btn btn-primary">View Orders</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const $ = (selector) => document.querySelector(selector);
    const loggedUser = JSON.parse(sessionStorage.getItem('loggedUser'));
    console.log('loggedUser: ', loggedUser);
    if (!loggedUser) {
        window.location.href = '/login';
    }

    if(loggedUser.username === 'admin') {
        document.querySelectorAll('.admin-links').forEach(link => {
            link.classList.remove('none');
        });
    }

    $('#signout').addEventListener('click', () => {
        // clear session storage loggedUser
        sessionStorage.setItem('loggedUser', '');
        // redirect to login page
        window.location.href = '/login';
    });

    $('#drop-down').innerText = `Hello, ${loggedUser.firstName}`;

    /****** viewing added books functions ******/
    const fetchBooks = async () => {
        const res = await fetch('http://localhost:3000/order/getBooks');
        const data = await res.json();
        return data;
    };

    const cardComponent = (book) => {
        const { bookId, title, price, quantity } = book;
        return (
            `
                <!-- Cart items list -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">${title}</h5>
                        <p class="card-text">Price: $${price}</p>
                        <p class="card-text">Quantity Ordered: ${quantity}</p>
                        <button class="btn btn-danger" onclick="removeFromCart('${bookId}')">Remove</button>
                    </div>
                </div>
                `
        );
    };

    const addContent = async (keyword) => {
        const allBooks = await fetchBooks();
        const filteredBooks = keyword ? allBooks.filter(book => book.bookName.toLowerCase().includes(keyword.toLowerCase())) : allBooks;
        $('#cart-items-count').innerText = filteredBooks.length;
        $('#cart-items-price').innerText = filteredBooks.reduce((total, current) => {
            current = parseInt(current.price) * current.quantity;
            return current + total;
        }, 0);
        const bookCards = filteredBooks.map(book => cardComponent(book)).join('');
        const booksContainer = $('#cart-container');
        booksContainer.innerHTML = bookCards;
    };

    /****** checkout btn listener ******/
    $('#checkout-btn').addEventListener('click', async () => {
        const res = await fetch('http://localhost:3000/order/addOrder', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({customer: loggedUser, totalPrice: parseInt($('#cart-items-price').innerText)})
        });
        const data = await res.json();
        if(res.ok) {
            // empty cart
            const res = await fetch('http://localhost:3000/order/empty-cart', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const modalMessage = document.getElementById('modalMessage');
            modalMessage.innerHTML = `Congratulations! Your order has been placed.`;
        }
    });

    addContent();

    const removeFromCart = async (id) => {
        try {
            const response = await fetch(`/order/remove-from-cart/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            if (response.ok) {
                setTimeout(() => {
                    location.reload();
                }, 1000);
            } else {
                // Handle errors or show an error message
                console.error('Failed to add to cart');
            }
        } catch (error) {
            console.error('Error removing from cart:', error);
        }
    };

</script>

</html>